//-- HTML TAGS --\\
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $font;
  background: $light-color;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
input:focus {
  outline: none;
}
ul {
  list-style: none;
}
//-- HTML CLASSES --\\
.main-container {
  margin: auto;
  width: 90%;
}
.container {
  width: 90%;
  border-radius: 3px;
  background: $dark-color;
  color: setColor($dark-color);
  padding: 1rem;
  margin: 3rem auto;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.flex-row {
  flex-direction: row;
  justify-content: space-between;
}
.center {
  text-align: center;
}
.hide {
  display: none;
}
/**ALERT STYLE**/
.alert,
.success {
  @include slowChange;
  opacity: 0;
  background-color: #2eb5d473;
  color: #000;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem;
}
