main#main-content {
  border: 3px solid $primary-color;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  h1 {
    margin-bottom: 2rem;
  }

  margin-bottom: 1rem;
  input {
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    &[type="submit"] {
      font-weight: bold;
      background: $primary-color;
      &:hover {
        cursor: pointer;
        background: darken($primary-color, 10);
        @include slowChange;
      }
    }
  }
  .check {
    margin: 1rem 0;
    .icon {
      color: $primary-color;
      cursor: pointer;
    }
  }
  ul {
    li {
      border-radius: 2px;
      padding: 0.8rem 0.5rem;
      margin-bottom: 0.5rem;
      i {
        margin-right: 0.5rem;
        &:hover {
          @include slowChange;
          color: $dark-color;
        }
      }
      &:nth-child(odd) {
        background: rgba($primary-color, 0.7);
        &:hover {
          border: 1px solid $light-color;
        }
      }
      &:nth-child(even) {
        background: rgba($light-color, 0.2);
        &:hover {
          border: 1px solid $primary-color;
        }
      }
    }
  }
}
