//-- VERY SMALL SMARTPHONES --\\
@include mediaXs {
  body {
    overflow: auto;
  }
  input {
    width: 90%;
    margin-bottom: 0.5rem;
  }
  .main-container {
    width: 100%;
  }
  header#main-header {
    padding: 0.5rem;
    .navBar {
      width: 100%;
      grid-gap: 1rem;
      grid-template-columns: 1fr;
      h1 {
        text-align: center;
      }
      .search-form {
        position: relative;
        width: 100%;
        float: none;
        input {
          width: 80%;
          margin: 0;
        }
        i {
          position: absolute;
          top: 5px;
          right: 5px;
        }
      }
    }
  }
  main#main-content {
    border-radius: 0;
  }
}
